POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=shop
MEILI_MASTER_KEY=masterKey
SECRET_KEY=yoursecretkey
YOOMONEY_SECRET=yoomoney_secret
CDEK_CLIENT_SECRET=cdek_client_secret
CI_REGISTRY=registry.ci.internal:5005
